<h1 class="mt-4">Products</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Products visualization</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" routerLink="/products-form">
                <i class="fa fa-plus"></i> New
            </button>
        </div>
    </div>   
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td></td>
                
                    </tr>
                </tbody>
            </table>
        </div>
            
    </div>
</div>