<h1 class="mt-4">Products</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Products Registration</li>
</ol>

<div class="container">
    <form >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price:</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Category:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Save Product
                </button>
            </div>
        </div>
    
    </form>
</div>